# no prequisites
*.d

# no binary and libraries
*.so
*.so.*
*.o
*.lib
*.a
*.symvers
*.order
*.cache

# kernel module compile results
*.mod.c
*.mod*
*.ko
*.cmd
*.tmp_versions/

# ide file and editor files
*.vscode

# no build artifacts 
build/
vendor/

.cache/
__pycache__/
